<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerentes</title>
</head>
<body>
    <header>
        <h2>Gerentes</h2>
    </header>
    <div class="gerentes">
        <table>
            <tr th:each="g : ${gerente}">
                <td><span th:text="${g.nombre}"></td>
                <td><span th:text="${g.apellido}"></td>
                <td>
                    <a th:href="@{/gerente/{id}(id=${g.idPersona})}">View</a>
                </td>
            </tr>
        </table>
    </div>
    <div><a th:href="@{/gerente/new}">Agregar gerente</a></div>
</body>
</html>