<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="../../static/css/list.css" th:href="@{/css/list.css}">
    <link href="../../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet" />
    <title>GRUPO 5 OO2 2020</title>
</head>
<body></body>
    <div class="return-btn"><a href="#" th:href="@{{link}(link = ${return})}"><i class="fas fa-arrow-left"></i></a></div>
    <div class="container">
        <div class="table">
            <div class="title">
                <h2>Gerentes</h2>
            </div>
            <table>
                <tr class="strong">
                    <td>ID</td>
                    <td>NOMBRE</td>
                    <td>APELLIDO</td>
                    <td>DNI</td>
                    <td>VER</td>
                    <td>ELIMINAR</td>
                </tr>
                <tr th:each="g : ${gerente}">
                    <td th:text="${g.idPersona}"></td>
                    <td th:text="${g.nombre}"></td>
                    <td th:text="${g.apellido}"></td>
                    <td th:text="${g.dni}"></td>
                    <td>
                        <a th:href="@{/gerente/{id}(id=${g.idPersona})}"><i class="fas fa-eye"></i></a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/gerente/remove/{id}(id=${g.idPersona})}" method="post"><i class="fas fa-minus-circle"></i></a>
                    </td>
                </tr>
            </table>
            <div class="add-btn"><a th:href="@{/gerente/new}" id="add-btn">Agregar</a></div>
        </div>
    </div>
<script src="../../static/js/jquery-3.4.1.min.js"></script>
<script>
    $('#add-btn').click(()=>{
        $('#add-btn').toggleClass("btn-effect");
    });
</script>
</body>
</html>