<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/view-id.css" th:href="@{/css/view-id.css}" rel="stylesheet" />
    <title>Gerente</title>
</head>
<body>
    <div class="view-id">
        <form action="#" th:action="@{/gerente/save}" th:object=${gerente} method="post">
            <input type="hidden" th:field="*{idPersona}">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}">
            <label>Apellido</label>
            <input type="text" th:field="*{apellido}">
            <label>Fecha de Nacimiento</label>
            <input type="date" th:field="*{fechaNacimiento}">
            <label>Dni</label>
            <input type="text" th:field="*{dni}">
            <label>Horas por Jornada</label>
            <input type="text" th:field="*{horasPorJornada}">
            <label>Sueldo básico</label>
            <input type="text" th:field="*{sueldoBasico}">
            <div class="buttons-view">
                <input type="submit" value="Actualizar datos" class="update">
            </div>
        </form>
        <form action="#" th:action="@{/gerente/remove/{id}(id=${gerente.idPersona})}">
            <div class="buttons-view">
                <input type="submit" value="Eliminar gerente" class="remove" />
            </div>
        </form>
    </div>
</body>
</html>