<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/new.css" th:href="@{/css/new.css}" rel="stylesheet" />
    <title>GRUPO 5 OO2 2020</title>
</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/sucursal/pedido/create}" th:object="${pedido}"
			method="post">
			<input type="hidden" th:field="${sucursal.id}" />
			
			<label>PRODUCTO(ID-MODELO-TALLE)</label>
			<select th:field="*{producto.idLote}">
				<option th:each="l: ${producto}" th:value="${l.idLote}"
					th:text="${l.idLote+' ' +l.producto.descripcion+' ' +l.talle}"></option>
			</select>
			

			
			<label>CANTIDAD</label>
			<input type="number" th:field="*{cantidad}" />
			
			
			
			<label>VENDEDOR</label>
			<select th:field="*{vendedorAuxiliar.idPersona}">
				<option th:each="v : ${vendedor}" th:value="${v.idPersona}"
					th:text="${v.nombre+' '+v.apellido}">
					</option>
			</select> 
			
					
			<input type="submit" value="AGREGAR" />
		</form>
	</div>
</body>

