<div class="title">
    <h2>Lotes del stock</h2>
</div>
<table>
    <tr class="strong">
        <td>ID</td>
        <td>PRODUCTO</td>
        <td>MARCA</td>
        <td>TALLE</td>
        <td>CANTIDAD</td>
        <td>PEDIDO</td>
    </tr>
    <tr>
        <td th:text="${lote.idLote}"></td>
        <th:block th:each="producto,iter : ${lote.producto}">
        <td th:text="${producto.descripcion}"></td>
        <td th:text="${producto.marca}"></td>
        <td th:text="${lote.talle}"></td>
        <td th:text="${lote.cantidadActual}"></td>
        <td>
            <form action="#" th:action="@{/sucursal/pedido/new/{idLote}(idLote = ${lote.idLote})/{idSucursal}(idSucursal = ${idSucursal})}" 
            object="${pedido}" method="post">
                <input th:type="number" th:min="1" th:max="${lote.cantidadActual}" th:field="${cantidad}" value="${pedido.cantidad}">
                <select th:field="*{vendedorAuxiliar}">
                    <option th:each="vendedor : ${vendedores}" th:value="${vendedor}" th:text="${vendedor.nombre+' '+vendedor.apellido}"></option>
                </select>
                <input type="submit" >Pedido</a>
            </form>
        </td>
    </tr>
</table>