<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/home/home.css" th:href="@{/css/home/home.css}" rel="stylesheet" />
    <title>GRUPO 5 OO2 2020</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Sucursal id </h1>
        </header>
        <div class="buttons">
        <p ></p>
            <div><a th:href="@{/sucursal/update/{id}(id = ${sucursal.id})}">Actualizar datos</a></div>
            <div><a th:href="@{/sucursal/stock/{id}(id = ${sucursal.id})}">Stock</a></div>
            <div><a th:href="@{/}">Solicitud de pedidos</a></div>
            <div><a th:href="@{/}">Generar venta <i>(factura)</i></a></div>
        </div>
    </div>
</body>
</html>