<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/new.css" th:href="@{/css/new.css}" rel="stylesheet" />
    <link href="../../static/css/estilos.css" th:href="@{/css/estilos.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <title>GRUPO 5 OO2 2020</title>
</head>
<body>
    <div class="return-btn"><a href="#" th:href="@{{link}(link = ${return})}"><i class="fas fa-arrow-left"></i></a></div>
    <div class="container">
        <form action="#" th:action="@{/vendedor/save}" th:object=${vendedor} method="post">
            <input type="text" th:field="*{idPersona}">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}">
            <label>Apellido</label>
            <input type="text" th:field="*{apellido}">
            <label>Fecha de Nacimiento</label>
            <input type="date" th:field="*{fechaNacimiento}">
            <label>Dni</label>
            <input type="text" th:field="*{dni}">
            <label>Horas por Jornada</label>
            <input type="text" th:field="*{horasPorJornada}">
            <label>Sueldo básico</label>
            <input type="text" th:field="*{sueldoBasico}">
            <label>Sucursal</label>
            
       	<select th:field="${vendedor.sucursal}">
                <option th:each="s : ${sucursal}" th:value="${s.id}">
                    <th:block th:each="ubicacion,iter : ${s.ubicacion}">
					<label th:text="${ubicacion.ciudad}"></label>
					<th:block th:if= "${!iter.last}"><th:block>
                </option>
            </select>    
            <input type="submit" value="Crear" />
        </form>
        
       
    </div>
</body>
</html>