<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="../../static/css/list.css" th:href="@{/css/list.css}">
    <title>GRUPO 5 OO2 2020</title>
</head>
<body>
    <div class="container">
        <div class="table">
            <div class="title">
                <h2>PEDIDOS</h2>
            </div>
            <table>
                <tr class="strong">
                    <td>ID</td>
                    <td>PRODUCTO</td>
                    <td>TALLE</td>
                    <td>CANTIDAD</td>
                    <td>VENDEDOR</td>
                    <td>ACEPTADO</td>
                    <td>VER</td>
                    <td>ELIMINAR</td>
                </tr>
                <tr th:each="p : ${pedido}">
                    <td th:text="${p.idPedido}"></td>
                    
                    <td><th:block th:each="lote,iter : ${p.producto}">
						<label th:text="${lote.producto.descripcion}"></label>
						<th:block th:if= "${!iter.last}"><th:block>
				    </td>
				    <td><th:block th:each="lote,iter : ${p.producto}">
						<label th:text="${lote.talle}"></label>
						<th:block th:if= "${!iter.last}"><th:block>
				    </td>
				    
				    
                    <td th:text="${p.cantidad}"></td>
                    
                    <td><th:block th:each="vendedorAuxiliar,iter : ${p.vendedorAuxiliar}"> <!-- dento de llaves va como esta en entity -->
						<label th:text="${vendedorAuxiliar.apellido+ ' ' +vendedorAuxiliar.nombre}"></label>    <!--  ACA ES EL PARAM QUE SE LE PASA DE INDEX -->
						<th:block th:if= "${!iter.last}"><th:block>
				    </td>
				    
                    <td th:text="${p.aceptado}"></td>
                    
                    <td>
                        <a th:href="@{/pedido/{id}(id=${p.idPedido})}"><i class="fas fa-eye"></i></a>
                    </td>
                    <td>
 				<form action="#" th:action="@{/pedido/remove/{id}(id=${p.idPedido})}" method="post" > 
							
                            <input type="submit" value="ELIMINAR">
                            
                        </form>
 
                   </td>
                </tr>
            </table>
            <div class="add-btn"><a th:href="@{/pedido/new}" id="add-btn">Agregar</a></div>
        </div>
    </div>
<script src="../../static/js/jquery-3.4.1.min.js"></script>
<script>
    $('#add-btn').click(()=>{
        $('#add-btn').toggleClass("btn-effect");
    });
</script>
</body>
</html>