<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/new.css" th:href="@{/css/new.css}" rel="stylesheet" />
    <title>GRUPO 5 OO2 2020</title>
</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/pedido/create}" th:object="${pedido}"
			method="post">
			
			<label>PRODUCTO</label>
			<select th:field="*{producto.id}">
				<option th:each="p : ${producto}" th:value="${p.id}"
					th:text="${p.descripcion}"></option>
			</select>
			
			
			
			<label>CANTIDAD</label>
			<input type="text" th:field="*{cantidad}" />
			
			<label>VENDEDOR</label>
			<select th:field="*{vendedorAuxiliar.idPersona}">
				<option th:each="v : ${vendedor}" th:value="${v.idPersona}"
					th:text="${v.nombre+v.apellido}">
					</option>
			</select> 
			<label>PEDIDO ACEPTADO</label>
			<input type="text" th:field="*{aceptado}" />
					
			<input type="submit" value="Crear" />
		</form>
	</div>
</body>

