<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="../../static/css/list.css" th:href="@{/css/list.css}">
    <title>GRUPO 5 OO2 2020</title>
</head>
<body>
	<div class="container">
        <div class="table">
            <div class="title">
                <h2>Clientes</h2>
			</div>
			<table>
				<tr class="strong">
					<td>NOMBRE</td>
					<td>APELLIDO</td>
					<td>DNI</td>
					<td>FECHA DE NACIMIENTO</td>
					<td>MAIL</td>
					<td>VER</td>
					<td>ELIMINAR</td>
				</tr>
					<tr th:each="cliente : ${clientes}">
						<td th:text="${cliente.nombre}"></td>
						<td th:text="${cliente.apellido}" ></td>
						<td th:text="${cliente.dni}" ></td>
						<td th:text="${cliente.fechaNacimiento}"></td>
						<td th:text="${cliente.mail}" ></td>
						<td><a th:href="@{/cliente/{id}(id=${cliente.idPersona})}"><i class="fas fa-eye"></i></a>
						</td>
						<td>
							<a href="#" th:href="@{/cliente/delete/{id}(id=${cliente.idPersona})}"></a><i class="fas fa-minus-circle"></i></a>
						</td>
					</tr>
			</table>
			<div class="add-btn"><a th:href="@{/cliente/new}">Agregar</a></div>
		</div>
	</div>
	<script src="../../static/js/jquery-3.4.1.min.js"></script>
    <script>
        $('#add-btn').click(()=>{
            $('#add-btn').toggleClass("btn-effect");
        });
    </script>
</body>