<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/home/home.css" th:href="@{/css/home/home.css}" rel="stylesheet" />
    <title>GRUPO 5 OO2 2020</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Trabajo Práctico</h1>
            <h2>Sistema de democratización de Stock</h2>
        </header>
        <div class="buttons">
            <div><a th:href="@{/sucursal}">Locales</a></div>
            <div><a th:href="@{/empleado}">Empleados</a></div>
            <div><a th:href="@{/cliente}">Clientes</a></div>
            <div><a th:href="@{/producto}">Productos</a></div>
        </div>
    </div>
</body>
</html>